@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Inter', sans-serif;

	--color-light: #ffffff;
	--color-grey: #cdcdcd;
	--color-light-grey: #d9d9d9;
	--color-dark: #000000;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-grey);
	color: var(--color-dark);
	font-family: var(--ff-primary);
	font-weight: 400;
}

/* TYPOGRAPHY */

p {
	margin: 0;
	padding: 0;
}

::placeholder {
	color: var(--color-dark);
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h3,
p {
	margin: 0;
	padding: 0;
}

/* LAYOUT */

.container {
    padding: 1em;
}

.button{
    font-family: var(--ff-primary);
    padding: 0.5em;
    border: 0;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-weight: 400;
    font-size: 1rem;
    width:100%;
    max-width: 150px;
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
    opacity: 0.8;
}

/* NAV-BAR */

.nav-bar{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.logo{
    font-weight: 400;
}

.flex-row{
    display: flex;
    gap:0.5em;
    align-items: center;
    border:none;
}

/* MAIN */

.main{
    display: flex;
    flex-direction: column;
    gap:1em;
}

/* SEARCH-BAR */

.search-bar{
    display: flex;
    gap:0.5em;
}

.searchInput{
    font-family: var(--ff-primary);
    padding: 0.5em 1em;
    border: 1px solid var(--color-dark);
    background-color: var(--color-light-grey);
    color: var(--color-dark);
    font-weight: 400;
    font-size: 1rem;
    width:100%;
}

/* SORTING-BAR */

.sorting-bar{ 
    display: flex;
    gap:0.5em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* TABLE */

.table{
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-dark);
    border-collapse: collapse;
}

td{
    border: 1px solid var(--color-dark);
    padding: 0.5em 1em;
}

tbody td{
    font-size: 0.75rem;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-dark);
}
